@model Leerlingvolgsysteem.Models.ViewModels.AccountLoginViewModel
    @{ 
        if (Session["LoggedInStatus"] == null)
        {
            Layout = null;

        }
        else {
            if ((int)Session["UserAuthId"] == 1)
            {
                Layout = "~/Views/Shared/_AdminLayout.cshtml";
            }
            if ((int)Session["UserAuthId"] == 2)
            {
                Layout = "~/Views/Shared/_TeacherLayout.cshtml";
            }
            if ((int)Session["UserAuthId"] == 3)
            {
                Layout = "~/Views/Shared/_StudentLayout.cshtml";
            }
        }
    }
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
        <script src="~/Scripts/modernizr-2.6.2.js"></script>
    </head>
    <body>
        <div class="container">
            @using (Html.BeginForm())
            {
                <div class="col-md-offset-4 col-md-4 col-sm-8 login-form-design">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10 input-design">
                            @Html.EditorFor(account => account.userName, new { @class = "login-input-design", htmlAttributes = new { placeholder = "Gebruikersnaam" } })
                        </div>
                        <div class="col-md-offset-1 col-md-10 input-design">
                            @Html.PasswordFor(account => account.password, new { @class = "login-input-design", htmlAttributes = new { placeholder = "Wachtwoord" } })
                        </div>
                        <div class="col-md-12 input-design">
                                <div class="col-md-offset-3 col-md-6">
                                    <button class="login_button" type="submit">Login</button>
                                    <p class="text-center"><a href="@Url.Action("PasswordReset", "Account")">Forgot password?</a></p>
                                    <ul class="error-message text-center">
                                        @if (Model != null)
                                        {
                                            if (Model.Error != false)
                                            {
                                                <li>@Model.Message</li>
                                            }
                                        }
                                        @Html.ValidationSummary()
                                    </ul>
                                </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </body>
</html>